body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    /* overflow: hidden; */
}

#parent {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100vw;
}

#app {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dcb {
    display: flex;
    flex-direction: row;
    height: 80px;
}

/* full height buttons */
#dcb > div {
    height: 76px;
}

/* half height buttons */
#dcb > div > div {
    height: 36px;
}

.dcb-button {
    width: 62px;

    border: #555555;
    border-style: outset;
    border-width: 2px;
    background-color: #002C00;

    padding: 0 5px 0 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 10pt;
    color: #eee;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}

.dcb-button:hover {
    color: #FFFF99;
}

.dcb-button::selection {
    color: #FFFF99;
}

.dcb-narrow {
    width: 35px;
}

.dcb-pressed {
    border-style: inset;
    background-color: #004E00;
}

.dcb-disabled {
    color: #5A5A5A;
}

.dcb-disabled:hover {
    color: #5A5A5A;
}
